<section class="login-page">
  <h2>Zaloguj się</h2>
  <form>
    <section>
      <form>
        <mat-form-field>
          <input type="email" matInput placeholder="Your email">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input type="password" matInput placeholder="Your password">
        </mat-form-field>
      </form>
    </section>

    <div class="form-group form-group--buttons">
      <a href="#" class="btn btn--without-border">Załóż konto</a>
      <button class="btn" type="submit">Zaloguj się</button>
    </div>
  </form>
</section>



