<section class="login-page">
  <h2>Zaloguj się</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <section>
      <mat-form-field>
        <input type="email" matInput
               placeholder="Your email"
               ngModel name="email"
               email
               required
               #emailInput="ngModel">
        <mat-error *ngIf="emailInput.hasError('required')">Pole nie może być puste</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">E-mail jest nie poprawny</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field hintLabel="Minimum 6 znaków">
        <input type="password"
               matInput
               placeholder="Your password"
               ngModel name="password"
               required
               minlength="6"
               #pwInput="ngModel">
        <mat-hint align="end">{{ pwInput.value?.length}} / 6</mat-hint>
      </mat-form-field>

      <div class="form-group form-group--buttons">
        <a href="#" mat-flat-button color="basic">Załóż konto</a>
        <button type="submit" mat-flat-button color="basic">Zaloguj się</button>
      </div>
    </section>
  </form>
</section>



